.input-row {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.input-wrapper {
    --padding: 8px;
    --focus-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    padding: var(--padding);
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;;
}
input:is(:focus, :valid) {
    border: 2px solid var(--focus-color);
}
input:is(:focus, :valid) + .placeholder {
    transform: translateY(calc(-1 * var(--padding) - 8px));
    font-size: 14px;
    color: var(--focus-color);
}

select {
    padding: var(--padding);
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;;
}

textarea {
    padding: var(--padding);
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;;
}

.placeholder {
    position: absolute;
    background-color: white;
    color: gray;
    left: var(--padding);
    padding: 6px 2px;
    transition: all 0.2s ease-in;
}

h5 {
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: medium;
}

#changelogOutput {
    width: 100%;
}